# --- DOCS ---
/docs

# --- BACK ---
/backend/dist
/backend/node_modules
/backend/config/app-config.ts
/backend/config/orm-config.ts

# --- TMP-FRONT (test HTML) ---
/tmp_front_test_html/dist
/tmp_front_test_html/node_modules