$panel-title-bgc: #e7e7e7;

.Header {
  background-color: $panel-title-bgc;

  &__title {
    line-height: 200%;
  }

  &__user-introduction {
    display: inline-block;
    width: 70%;
  }

  &__button-logout {
    margin: 5px 0 10px 5px;
    padding: 10px 30px;
    cursor: pointer;
  }
}